p{
    color: #fff;
}

.top{
    background-color: rgb(15, 15, 15);
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid rgb(12, 12, 12);
}

.search-container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    height: 8vh;
}




header{
    background-color: rgb(20, 20, 20);
    height: 92vh;
    max-height: 92vh;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px 50px;
    gap: 50px;
}

.search-container span{
    color: #fff;
    font-size: 1.5rem;
    background-color: rgb(67, 67, 67);
    padding: 8px;
    cursor: pointer;
}