<div class="top">
  <div class="search-container">
    <span routerLink="/home">BACK TO HOME</span>
  </div>
</div>
<header>
  <div *ngIf="country$ | async; let user">
    <img src="{{ user.flags.png }}" alt="" height="200" width="250" />
    <span>
      Country:

      <p>
        {{ user.name.common }}
      </p>
    </span>
    <span>
      Official name:

      <p>
        {{ user.name.official }}
      </p>
    </span>
    <span>
      Capital:

      <p>
        {{ user.capital }}
      </p>
    </span>
    <span>
      Population:
      <p>{{ user.population | number : "1.0" }} people</p>
    </span>
    <span>
      Region:

      <p>
        {{ user.region }}
      </p>
    </span>
    <span>
      Borders:

      <p>
        {{ user.borders || "none" }}
      </p>
    </span>
    <span>
      Area: 

      <p> {{ user.area }} km2</p>
    </span>
  </div>
</header>
